{% extends 'base.html' %}

{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Doctor Dashboard</h3>
                    <p class="text-muted">Welcome, Dr. {{ request.user.get_full_name }}!</p>
                </div>
            </div>
        </div>

        <!-- Dashboard Shortcuts -->
        <div class="row">
            <!-- My Profile -->
            <div class="col-md-6 col-lg-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon text-primary">
                            <i class="fa fa-user-md"></i>
                        </span>
                        <div class="dash-widget-info">
                            <h4><a href="{% url 'doctor-profile' %}">My Profile</a></h4>
                            <span>View & Edit</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Create Invoice -->
            <div class="col-md-6 col-lg-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon text-success">
                            <i class="fa fa-plus-circle"></i>
                        </span>
                        <div class="dash-widget-info">
                            <h4><a href="{% url 'create-invoice' %}">Create Invoice</a></h4>
                            <span>Generate Bill</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- My Invoices -->
            <div class="col-md-6 col-lg-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon text-warning">
                            <i class="fa fa-file-text-o"></i>
                        </span>
                        <div class="dash-widget-info">
                            <h4><a href="{% url 'doctor-billing' %}">My Invoices</a></h4>
                            <span>All Bills</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- My Reports -->
            <div class="col-md-6 col-lg-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon text-info">
                            <i class="fa fa-file-text"></i>
                        </span>
                        <div class="dash-widget-info">
                            <h4><a href="{% url 'doctor-reports' %}">My Reports</a></h4>
                            <span>View & Download</span>
                        </div>
                    </div>
                </div>
            </div>
            

            <!-- My Patients (Optional) -->
            <div class="col-md-6 col-lg-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon text-danger">
                            <i class="fa fa-users"></i>
                        </span>
                        <div class="dash-widget-info">
                            <h4><a href="#">My Patients</a></h4>
                            <span>View Records</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
